.container{
    width: 700px;
    margin: 0 auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
.col{
    width: calc(100%/3);
    margin: 5px;
   
}
.card{
    font-size: 10px;
    background-color: white;
    padding: 2px;
    border: 2px solid black;
}